@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.App {
  font-family: 'Roboto', sans-serif;; 
  background: url("Background.jpg") no-repeat center center fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: white solid 60px;
}

header {
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width:100%;
}

.Title {
	color: black;
  text-align: center; 
  font-weight: bold;
}

.App-picture {
	width: 400px;
}

.Logoleft {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
	color: black;
  margin-left:60px;
}

.Logoright {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  margin-right:60px;

}

.nav {
  position:fixed;
  background-color:white;
  height:60px;
  width:100%;
  z-index: 1000;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.Buttonstyle {
  margin: 30px; 
  font-family: 'Roboto', sans-serif;
  font-weight: bold; 
  border: none;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2%;
  background: black;
  color: white;
  border: white solid 2px;
}

.Buttonstyle:hover {
  background: white;
  color: black;
  border: black solid 2px;
}

.Button {
  position:relative;
  bottom:20px;
  padding-top:20px;
  margin-top: 60px;
}

.Text {
  background: white;
  width: 600px;
  padding: 10px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

hr {
 width: 200px;
 margin-top: -2px; 
}

.Socials-icons{
  width: 80px;
}

.Homepage {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 968px) {
  .Homepage {
  width: 60%;
}
}

@media screen and (max-width: 768px) {
  .Homepage {
  width: 75%;
}
  .App {
    border: white solid 10px;
  }
  .Logoleft {
    margin-left: 10px;
  }
  .Logoright {
    margin-right: 10px;
  }

.App-picture {
  width: 60%;
  height: 60%;
}

.Buttonstyle {
  margin: 10px; 
  padding: 5px 20px;
}

.Textbold {
  font-weight: bold;
}
}

